body{
background: linear-gradient(-45deg, #cbcbcb);
  margin: 0;
  padding: 0;
  background-image: linear-gradient(lightblue,white,  red);
}
.main_title, .hook-question, .points, .help_question{
    color: #0D1B2A;
    font-family: 'Regular';
    text-align: center;
    font-weight: 800;
}
.content{
    color: #333333;
    text-align: center;
    font-family: "regular";
    line-height: 1.7;
    font-weight: 400;
    border-radius: 8px;
    margin: 20px;
}
.point_disc{
    text-align: center;
    font-family: "regular";
    color: #C62828;
    text-align: center;
}
.link_page{
    text-align: center;
    font-family: "regular";
}
.check{
    color: #0D1B2A;
    font-family: 'regular';
    text-align: center;
    font-weight: 800;
}
.info_links{
    color: red;
    font-family: 'Regular';
    text-align: center;
}
.image-img{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
.image-2-img{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
.copywrite{
    color: #333333;
    text-align: center;
    font-family: "regular";
    line-height: 1.7;
    font-weight: 400;
    border-radius: 8px;
    margin: 20px;
}
@media screen and (max-width: 600px){
    body{
          background-image: linear-gradient(lightblue, red);
    }
    .main_title, .hook-question, .help-question, .points{
        font-size: 10px;
    }
    .content, .point_disc{
        font-size: 8px
    }
    .index{
        display: flex;
        flex-direction:column;
        font-size: 20px;
    }
}
